<!-- title,body,post -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>create post</title>
</head>
<body>
    <head>
        <nav class="navbar navbar-expand-lg navbar-light bg-light ">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><b>HYPERTEXTBLOG</b></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse  container-fluid justify-content-center d-lg-flex" id="navbarNavAltMarkup">
                <div class="navbar-nav ">
                  <a class="nav-link active" aria-current="page" href="index">Home</a>
                  <a class="nav-link" href="createpost">Create Post</a>
                  <a class="nav-link" href="#">Register</a>
                  <a class="nav-link" href="#" >Login</a>
                </div>
              </div>
            </div>
          </nav>
    </head>

    <form style="width: 80%;margin: auto;padding-top:200px;"  action="">
    <div class="mb-3">
        <input style="font-weight:bolder;" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title">
      </div>
      <div class="mb-3">
        <textarea style="font-weight:bolder;" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Tell your story"></textarea>
        
      </div>
      <div class="col-12">
        <button style="margin-left:800px ;"  class="btn btn-primary" type="submit">Post</button>
      </div>
    </form>
      <script src="/js/bootstrap.bundle.js"></script>
</body>
</html>