<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Sign UP</title>
</head>
<body style="margin-bottom:50px;background-color: purple;color: white;">
    <h1 style="padding-top:50px;text-align: center;">Sign Up Page</h1>
    <form style="width:50% ;margin:auto;"  class="row g-2 needs-validation" novalidate>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input type="text" name="username" placeholder="enter username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
       
      </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" name="email" placeholder="enter email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
         
        </div>
       
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="password" placeholder="enter password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      
      </form>

      <footer style="color: black;font-weight:bolder;">
        <div style="margin-top: 100px;" class="text-center">
            &copy; Copyright. All Right Reserved. HYPERTEXT BADGE
        </div>

    </footer>

    <script src="/js/bootstrap.bundle.js"></script>
</body>
</html>